
@import "tailwindcss";

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .animate-fadeOut {
    animation: fadeOut 2s ease-out;
  }
  .delay-3000 {
    animation-delay: 3s;
  }
  .fill-mode-forwards {
    animation-fill-mode: forwards;
  }